# Virtual Environments
.venv/
nv/

# Python Cache & Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Heavy Original Model File
best_deepfake_model.h5

# User Uploads (Ignores uploaded files but keeps the folder)
uploads/*
!uploads/.gitkeep

# Operating System Files
.DS_Store
Thumbs.db