# Ignore the virtual environment
.venv/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the temporary uploads folder
uploads/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db